---
import { cn } from "@/lib/utils";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class={cn(["bg-primary-foreground rounded-xl p-4", className])}>
  <slot />
</div>
