<button
  id="toggle-details"
  type="button"
  class="bg-primary shadow-md text-primary-foreground hover:bg-secondary hover:cursor-pointer hover:shadow-secondary/20 rounded-md px-3 py-1 text-xs transition-all duration-300 ease-in-out"
>
  Show Details
</button>
