---
type Props = {
  href: string;
};

const { href } = Astro.props;
const { pathname } = Astro.url;
---

<a
  class={`font-semibold px-1 transition-all duration-200 ease-out ${pathname.startsWith(href) ? "bg-secondary text-secondary-foreground" : "hover:text-tertiary-foreground hover:bg-tertiary"}`}
  href={href}
>
  <slot />
</a>
