---
import Typewriter from "@/components/ui/typewriter.astro";
import Layout from "@/layouts/layout.astro";
---

<Layout>
  <div class="flex flex-col size-full justify-center items-center">
    <div class="flex flex-col justify-end size-full items-end">
      <img class="max-w-80" src="/images/me.png" />
      <div
        class="flex flex-col bg-card w-full h-40 px-8 py-6 gap-2 border-2 border-secondary"
      >
        <h3 class="text-2xl font-bold">Emre Can:</h3>
        <Typewriter
          writeAll
          noDelete
          delta={30}
          words={[
            "I build backend systems, write music, read philosophy, play games, and think a lot ",
            [["(and sometimes got paid to do it)"], "italic"],
          ]}
          class="text-xl text-secondary font-extralight"
        />
      </div>
    </div>
  </div>
</Layout>
