---
import Header from "@/components/Header/Header.astro";
import PackagesSection from "@/components/PackagesSection/PackagesSection.astro";
import TechnologiesSection from "@/components/TechnologiesSection/TechnologiesSection.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div class="flex size-full max-w-7xl flex-col gap-4 md:px-8">
    <Header />
    <PackagesSection title="Published Packages" />
    <TechnologiesSection title="Technologies" />
  </div>
</Layout>
