---
import Header from "@/components/layout/header.astro";
import Typewriter from "@/components/ui/typewriter.astro";
import Base from "@/layouts/base.astro";
---

<Base>
  <main class="flex px-4 flex-col size-full min-h-screen justify-center items-center">
    <div class="flex flex-col pb-8 max-w-3xl md:pb-0 justify-end size-full items-end">
      <img class="max-w-80" src="/images/me.png" />
      <div
        class="flex flex-col bg-card w-full min-h-40 px-8 py-6 gap-2 h-54 md:h-40 border-2 border-secondary transition-all"
      >
        <h3 class="text-2xl font-bold">Emre Can:</h3>
        <Typewriter
          writeAll
          noDelete
          delta={30}
          words={[
            "I build backend systems, write music, read philosophy, play games, and think a lot ",
            [["(and sometimes got paid to do it)."], "italic"],
          ]}
          class="text-xl text-secondary font-extralight"
        />
      </div>
    </div>
    <Header forceCol={true} hasBorder={false} />
  </main>
</Base>
