---
import Header from "@/components/layout/header/header.astro";
import PackagesSection from "@/components/sections/packages/packages-section.astro";
import TechSection from "@/components/sections/tech/tech-section.astro";
import Layout from "@/layouts/layout.astro";
---

<Layout>
  <div class="flex size-full max-w-7xl flex-col gap-4 md:px-8">
    <Header />
    <PackagesSection title="Published Packages" />
    <TechSection title="Technologies" />
  </div>
</Layout>
