---
import Typewriter from "@/components/ui/typewriter.astro";
import Layout from "@/layouts/layout.astro";
import HomeCard from "./_components/home-card.astro";
---

<Layout>
  <div class="flex flex-col size-full justify-center items-center">
    <div class="grid order-2 md:order-1 grid-cols-1 md:grid-cols-2 gap-8 w-full">
      <HomeCard title="Project I'm Proud Of">
        <h3 class="text-4xl font-extralight">krustie</h3>
        <p class="">An easy to use back-end framework for Rust.</p>
      </HomeCard>
      <HomeCard title="Books I Read Again and Again">
        <p class="font-extralight">Foundation Series - Isaac Asimov</p>
        <p class="font-extralight">
          Thus Spoke Zarathustra - Friedrich Nietzsche
        </p>
        <p class="font-extralight">Cyrano de Bergerac - Edmond Rostand</p>
      </HomeCard>
      <HomeCard title="Music I Listen on Repeat">
        <p class="font-extralight">Comfortably Numb - Pink Floyd</p>
        <p class="font-extralight">Like A Stone - Audioslave</p>
        <p class="font-extralight">Cobalt Sun Necropolis - Dvne</p>
        <p class="font-extralight">Ghost of Perdition - Opeth</p>
      </HomeCard>
      <HomeCard title="Books I Recommended">
        <p class="font-extralight">The Spinoza Miracle - Frédéric Lenoir</p>
        <p class="font-extralight">Stolen Focus - Johann Hari</p>
        <p class="font-extralight">Too Late to Awaken - Slavoj Žižek</p>
      </HomeCard>
    </div>
    <div class="flex order-1 md:order-2 flex-col pb-8 md:pb-0 justify-end size-full items-end">
      <img class="max-w-80" src="/images/me.png" />
      <div
        class="flex flex-col bg-card w-full min-h-40 px-8 py-6 gap-2 border-2 border-secondary transition-all"
      >
        <h3 class="text-2xl font-bold">Emre Can:</h3>
        <Typewriter
          writeAll
          noDelete
          delta={30}
          words={[
            "I build backend systems, write music, read philosophy, play games, and think a lot ",
            [["(and sometimes got paid to do it)."], "italic"],
          ]}
          class="text-xl text-secondary font-extralight"
        />
      </div>
    </div>
  </div>
</Layout>
