---
import PackagesSection from "@/components/sections/packages/packages-section.astro";
import TechSection from "@/components/sections/tech/tech-section.astro";
import Layout from "@/layouts/layout.astro";
---

<Layout>
  <div class="grid size-full gap-4">
    <PackagesSection title="Published Packages" />
  </div>
</Layout>
