---
import LeftColumnLayout from "@/layouts/left-column-layout.astro";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";

const skills = await getCollection("skills");

const getProficiency = (c: number) => {
  switch (c) {
    case 1:
      return "Familiar";
    case 2:
      return "Comfortable";
    case 3:
      return "Proficient";
    case 4:
      return "Advanced";
    case 5:
      return "Expert";
    default:
      return "Unknown";
  }
};
---

<LeftColumnLayout title="Skills - Emre Can Çorapçı">
  <Fragment slot="title">Skills</Fragment>
  <Fragment slot="description">
    I’m a backend developer focused on performance-oriented web systems, mainly using TypeScript and
    Rust. I've used a variety of frameworks and libraries, including .NET, Express and Fastify on
    the backend, and React and Astro on the frontend. I'm also familiar with C#, C++ and Python.
  </Fragment>
  {
    skills.map(({ data: { title, items } }) => (
      <div class="grid grid-cols-1 gap-4 py-4">
        <h2 class="text-3xl font-bold">{title}</h2>
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
          {items
            .sort((a, b) => b.proficiency - a.proficiency)
            .map(({ title, proficiency, icon, color }) => (
              <div class="bg-primary/20 flex gap-4 rounded-xl p-2">
                <div class="bg-primary-foreground aspect-square size-16 rounded-xl p-3">
                  {icon && <Icon class:list={["size-full", color]} name={icon} />}
                </div>
                <div class="flex w-full items-center justify-between">
                  <p class="text-xl font-light sm:text-lg md:text-xl">{title}</p>
                  <p class="text-secondary pe-2 text-lg font-bold sm:text-base md:text-lg">
                    {getProficiency(proficiency)}
                  </p>
                </div>
              </div>
            ))}
        </div>
        <hr class="border-primary/10 border-b" />
      </div>
    ))
  }
</LeftColumnLayout>