---
import PackagesSection from "@/components/sections/packages/packages-section.astro";
import TechSection from "@/components/sections/tech/tech-section.astro";
import Layout from "@/layouts/layout.astro";
---

<Layout>
  <div class="grid gap-4">
    <TechSection title="Technologies" />
  </div>
</Layout>
