---
import { cn } from '@/lib/utils';

interface Props {
  class: string;
}

const className = cn(["flex border p-2 text-center items-center justify-center text-secondary", Astro.props.class])
---
<p class={className}>
  <slot />
</p>