---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  href={href}
  class="flex flex-col shadow items-center justify-center gap-1 border border-secondary p-2 font-light text-secondary transition-all duration-100 hover:bg-secondary hover:text-background md:flex-row"
>
  <slot />
</a>
