---
import ContactsSection from "./contacts-section.astro";
---

<div class="grid py-2 pt-4 gap-4">
  <div class="grid gap-4 px-2 md:px-8">
    <h1
      class="text-center font-black text-4xl text-shadow text-secondary md:text-5xl lg:text-5xl"
    >
      Emre Can Çorapçı
    </h1>
    <div class="flex w-full justify-center gap-2 font-light">
      <p class="px-2 font-extralight text-secondary text-shadow-md">
        Software Developer
      </p>
    </div>
  </div>
  <ContactsSection />
</div>
