---
import ContactsSection from "./contacts-section.astro";
---

<div class="grid gap-4 border border-primary p-8 px-2 md:p-16 md:px-8">
  <h1
    class="text-center font-bold text-4xl text-primary md:text-5xl lg:text-5xl"
  >
    Emre Can Çorapçı
  </h1>
  <div class="flex w-full justify-center gap-2 font-light">
    <p class="px-2 font-extralight text-secondary">Software Developer</p>
  </div>

  <ContactsSection />
</div>
