---
import { cva } from "class-variance-authority";
import { cn } from "@/lib/utils";

interface Props {
  title: string;
  badgeCount: 2 | 3 | 4 | 5 | 6;
}

const badgeVariants = cva("grid gap-2", {
  variants: {
    badgeCount: {
      2: "grid-cols-2",
      3: "grid-cols-3",
      4: "grid-cols-2 sm:grid-cols-4",
      5: "grid-cols-3 sm:grid-cols-5",
      6: "grid-cols-6",
    },
  },
});

const { title, badgeCount } = Astro.props;
---

<div class="grid gap-2">
  <h2
    class="bg-primary px-2 py-1 text-center font-semibold text-background text-lg"
  >
    {title}
  </h2>
  <div class={cn(badgeVariants({ badgeCount }))}>
    <slot />
  </div>
</div>
