---
import TechBadge from "./TechBadge.astro";
import TechSection from "./TechSection.astro";
---

<div class="grid border border-primary gap-2 pb-2">
  <h2
    class="bg-primary px-2 py-2 text-center font-semibold text-3xl text-background"
  >
    Technologies
  </h2>

  <div class="grid gap-4 px-2">
    <TechSection title="Languages" badgeCount={4}>
      <TechBadge class="border-blue-600 hover:bg-blue-600 transition-all">
        TypeScript
      </TechBadge>
      <TechBadge class="border-orange-400 hover:bg-orange-400 hover:text-background transition-all">
        Rust
      </TechBadge>
      <TechBadge class="border-purple-500 hover:bg-purple-500 transition-all">
        C#
      </TechBadge>
      <TechBadge class="border-blue-400 hover:bg-blue-400 hover:text-background transition-all"> C++ </TechBadge>
    </TechSection>
    <div class="grid gap-4 grid-cols-1 lg:gap-2 lg:grid-cols-2">
      <TechSection title="Back-End" badgeCount={4}>
        <TechBadge class="border-zinc-300 hover:bg-zinc-300 hover:text-background transition-all">
          Express
        </TechBadge>
        <TechBadge class="border-zinc-600 hover:bg-zinc-600 transition-all">
          Fastify
        </TechBadge>
        <TechBadge class="border-green-400 hover:bg-green-400 hover:text-background transition-all">
          Node.js
        </TechBadge>
        <TechBadge class="border-purple-500 hover:bg-purple-500 transition-all">
          .NET
        </TechBadge>
      </TechSection>
      <TechSection title="Languages" badgeCount={3}>
        <TechBadge class="border-blue-600 hover:bg-blue-600 transition-all">
          React
        </TechBadge>
        <TechBadge class="border-orange-400 hover:bg-orange-400 hover:text-background transition-all">
          Astro
        </TechBadge>
        <TechBadge class="border-zinc-600 hover:bg-zinc-600 transition-all">
          Next.js
        </TechBadge>
      </TechSection>
    </div>
    <TechSection title="Database" badgeCount={3}>
      <TechBadge class="border-blue-500 hover:bg-blue-500 transition-all">
        PostgreSQL
      </TechBadge>
      <TechBadge class="border-green-500 hover:bg-green-500 hover:text-background transition-all">
        MongoDB
      </TechBadge>
      <TechBadge class="border-red-400 hover:bg-red-400 hover:text-background transition-all"> Redis </TechBadge>
    </TechSection>
    <TechSection title="ORM" badgeCount={3}>
      <TechBadge class="border-lime-400 hover:bg-lime-400 hover:text-background transition-all">
        DrizzleOrm
      </TechBadge>
      <TechBadge class="border-blue-400 hover:bg-blue-400 hover:text-background transition-all">
        Sequelize
      </TechBadge>
      <TechBadge class="border-purple-500 hover:bg-purple-500 transition-all">
        Entity Framework
      </TechBadge>
    </TechSection>
    <TechSection title="CI/CD" badgeCount={3}>
      <TechBadge class="border-green-600 hover:bg-green-600 transition-all">
        Nginx
      </TechBadge>
      <TechBadge class="border-purple-600 hover:bg-purple-600 transition-all">
        PM2
      </TechBadge>
      <TechBadge class="border-blue-600 hover:bg-blue-600 transition-all">
        Docker
      </TechBadge>
    </TechSection>
    <TechSection title="OS" badgeCount={5}>
      <TechBadge class="border-blue-600 hover:bg-blue-600 transition-all">
        Arch Linux
      </TechBadge>
      <TechBadge class="border-blue-400 hover:bg-blue-400 hover:text-background transition-all">
        Fedora
      </TechBadge>
      <TechBadge class="border-orange-400 hover:bg-orange-400 hover:text-background transition-all">
        Ubuntu
      </TechBadge>
      <TechBadge class="border-zinc-500 hover:bg-zinc-500 transition-all">
        MacOS
      </TechBadge>
      <TechBadge class="border-blue-600 hover:bg-blue-600 hover:text-background transition-all">
        Windows
      </TechBadge>
    </TechSection>
  </div>
</div>
