---
import "@/styles/global.css";
import "@fontsource-variable/outfit";

import PostHog from "@/components/post-hog.astro";

interface Props {
  title?: string;
  description?: string;
}

const isProd = import.meta.env.PROD;

const { title, description } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ?? "Emre Can Çorapçı"}</title>
    <meta name="description" content={description ?? "Emre Can Çorapçı's personal website"} />
    {isProd && <PostHog />}
  </head>
  <body class="bg-background text-foreground min-h-screen font-sans">
    <slot />
  </body>
</html>
