---
import Header from "@/components/layout/header.astro";
import BaseLayout from "./base.astro";

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props as Props;
---

<BaseLayout title={title} description={description}>
  <div class="mx-auto grid min-h-screen w-full max-w-7xl grid-rows-[auto_1fr_auto]">
    <Header />

    <main class="px-4 py-4">
      <slot />
    </main>

    <footer class="p-6">Footer</footer>
  </div>
</BaseLayout>
