---
import "@/styles/global.css";

import Header from "@/components/layout/header.astro";
import PostHog from "@/components/post-hog.astro";

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ?? "Emre Can Çorapçı"}</title>
    <meta
      name="description"
      content={description ?? "Emre Can Çorapçı's personal website"}
    />
    <PostHog />
  </head>
  <body class="bg-background text-foreground min-h-screen">
    <div
      class="grid grid-rows-[auto_1fr_auto] min-h-screen w-full max-w-7xl mx-auto"
    >
      <header
        class="p-6 flex flex-col md:flex-row gap-4 justify-between items-center"
      >
        <Header />
      </header>

      <main class="px-8">
        <slot />
      </main>

      <footer class="p-6">Footer</footer>
    </div>
  </body>
</html>
