---
interface Props {
  title: string;
  href: string;
  description: string;
}

const { title, href, description } = Astro.props;
---

<a
  class="group grid grid-rows-3 rounded-xl py-8 bg-primary hover:bg-secondary transition-all duration-300 ease-out"
  href={href}
>
  <h3 class="text-center font-bold text-2xl text-background transition-all">
    {title}
  </h3>
  <p
    class="row-span-2 flex items-center justify-center px-4 text-center text-background transition-all"
  >
    {description}
  </p>
</a>
