---
interface Props {
  href: string;
  primary?: boolean | undefined;
  class?: string;
}

const { href, primary, class: className } = Astro.props;
---

<a
  class:list={[
    `hover:bg-secondary hover:text-primary-foreground border-y p-2 py-2 text-center text-xl font-bold transition-all duration-300 ease-out md:border-x md:border-y-0 md:py-4`,
    primary ? "bg-primary text-primary-foreground" : "",
    className,
  ]}
  href={href}
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>
