---
interface Props {
  key: string;
  value: string;
}

const { key, value } = Astro.props;
---

<div class="grid w-full grid-cols-5 border-b pb-1 gap-2">
  <p
    class="flex w-full col-span-2 justify-between text-sm font-semibold text-secondary"
  >
    <span>
      {key}
    </span>
    <span> : </span>
  </p>
  <p class="text-sm col-span-3">{value}</p>
</div>
